* {
  line-height: 5px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 80px;
}

a {
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 900px;
}

li {
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}
option {
  text-align: center;
}

img {
}
